.App {
  text-align: center;
}

.ParkingLot {
  display: grid;
  padding: 20px;
  float: left;
}

.Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
